/*mobile*/
@media only screen and (max-device-width : 768px){
.section3-para p {font-weight: 400;width: 100%;font-size: 15px;text-align: left;}
.pad-ad{padding-bottom:7rem !important}
.pad-ad{padding-top:5rem !important}
.section6-para p {font-weight: 400;width: 100%;font-size: 15px;text-align: left;}
.section3-heading h1 {font-weight: 700;font-size: 35px;}
.section3-heading{padding:0 !important;}
.section3-para{padding: 25px 0px 10px !important;}
.section3-years{margin:0 auto !important;}
.section3-years h1 {font-weight: 700;position: relative;font-size: 2rem; left:0;}
.section3-years .sub-txt {font-weight: 600;position: absolute;font-size: 25px;top: 3px;}
.section3-years h1:after {
    content: "25 ";
    position: absolute;
    font-weight: 600;
    font-size: 4rem;
    left: 30%;
    top: 37%;
    color: #DADE43;
}
.bg-map img {
    width: 80%;
    position: absolute;
    left: 40px;
    top: 13px;
}

.section5 {
    background-color: #004F81;
    background-image: url(../img/count.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.section3 {margin: 0px 15px 80px;}

.section4 .py-5{padding:0 !important;}
.section4 {margin-bottom:50px;}
.section3-years a .button {position: absolute;right: auto;left: 6%;top: 95%;padding: 5px 12px;font-size: 12px;border-radius: 0px;box-shadow: none;}
.section4-heading h1 {font-weight: 700;font-size: 35px;text-align: center; margin-top:85px;}
.section4-para {font-weight: 400;padding: 15px 0;text-align: center;font-size: 15px;}
.section4 .button {padding: 5px 18px;text-transform: inherit;border-radius: 0;background-color: #004F81;font-size: 12px;}
.section5-heading h1 {font-weight: 700;font-size: 40px;padding-bottom: 35px;text-align:center;}
.font-size-adjst {font-size: 30px;font-weight:400;}
.count-title{font-size:45px;}
.counter {border:none;text-align: center;}
.count-text {font-size: 20px;top: 0;}
.section7-heading h1 {font-weight: 700;font-size: 45px;}
.section7-heading{padding:0 !important;}
.mobile-pad{padding-bottom:0 !important;}
.section8-heading h1 {font-weight: 700;text-align:center;font-size: 35px;padding-top:30px;}
.client-box {text-align:center;padding-bottom:45px;}
.client-box img{width:50%;}
.carousel {position: relative;margin-top: -75px;margin-bottom:30px;}
.d-none {display: block!important;}
.carousel-caption {top: 35% !important;}
.slider-caption h1 {font-size:18px;}
.slider-caption a .button {margin-top: 5px;padding: 5px 25px;border-radius: 50px;font-size: 12px;}
.animated-btn {width: 45px;height: 45px;top:20%;left: 42%;z-index: 97;}
.animated-btn i {top: 16px;font-size: 15px;}
nav ul li a {line-height: 40px !important;}
nav ul {padding: 40px;}
.section2 .carousel-inner .carousel-item{height:300px;}
.section2 .carousel-inner .carousel-item img{height:100%;}
.footer_ul li a .align-loc{margin-left: 8px;font-size:9px;}
.product_heading{
  font-weight:600 !important;
  font-size:35px;
}

.product_p{
font-size:15px;
padding:25px 0px;
}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape) {
	nav {
    padding: 10px 10px;
}
nav.black {
    padding: 10px 5px;
}

.slider-caption h1 {
    font-size: 3rem;
}




}