@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'droid_arabic_kufibold';
    src: url('../font/droidkufibold-webfont.woff2') format('woff2'),
         url('../font/droidkufibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'droid_arabic_kufiregular';
    src: url('../font/droidkufiregular-webfont.woff2') format('woff2'),
         url('../font/droidkufiregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0px;
	padding: 0px;
}


body{
	margin:0;
  width:100%;
	padding:0;
	font-family: 'Poppins', sans-serif;
}

a{
 text-decoration: none; 
}

img {
	height: auto;
	max-width: 100%;
}






/*loader*/
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
  position: relative;
  text-align:center;
  z-index: 100;
  width:100%;
}



.ctn-preloader .animation-preloader img {
   width:20%;
   text-align:center;
}



.ctn-preloader .loader-section {
  background-color: #fff;
  height: 100%;
  width:100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}


.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}


.loaded .loader-section.section-left {
  transform: translateX(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}



@media screen and (max-width: 767px) {

  .ctn-preloader .animation-preloader img {
    width:50%;
  }
}

@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader img {
    width:50%;
  }
}

/*loader-end*/



/*section1*/
/*navbar*/
/*.arabic-font{
   font-family: 'droid_arabic_kufibold';
   font-weight:600;
}*/

.arabic-font a{
padding-bottom: 2px;
}
.saudi-flag{
    position: relative;
    width: 10%;
    right: 10px;
    margin-bottom: 2px;
}
.responsive-bar{
    display: none;
}

.vision {
    width: 100%;
    max-width: 150px;
    position: relative;
    overflow: hidden;
    height: 80px;
    float: right;
    margin: -40px 35px;
}

.vision img{
  width:55%;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 99;
    background-color:#fff;
}
nav.black{
    /*background: rgba(0,0,0,0.8);*/
    background: #fff;
    height: 135px;
    padding: 10px 50px;
    z-index:999;
    -webkit-box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
-moz-box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
}

nav.black .vision {
    width: 100%;
    max-width: 170px;
    position: relative;
    overflow: hidden;
    height: 80px;
    float: right;
    margin: -40px 40px;
}

nav.black .vision img{
  width:55%;
}

nav .logo{
    float: left;
}
nav .logo img{
    height: 100px;
    transition: .5s;
    margin-top: 15px;
}
nav.black .logo img{
    height: 100px;
}
nav > ul {
    width: 72%;
    margin: 0 auto;
    padding: 0;
    float: right;
    position: relative;
    top: 30px;
}
nav > ul > li{
    list-style: none;
    display: inline-block;

}
nav > ul > li > a:hover{
    color: #ccc !important;
    text-decoration:none;
}
nav > ul > li > a{
    color: #262626;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;
        color:#000;   
}
nav.black > ul > li > a{
    color: #000;
    line-height: 60px;
}

@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 90px;
        background: #262626;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index:999;
    }
    .responsive-bar .logo img{
        float: left;
        height:75px;  
    }
    .vision img{
  display: none;
}
nav.black .vision img{
  display:none;
}
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 70px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #262626;
    height: auto;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    background: #ffffff;
    float: none;
    display: none;
        -webkit-box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
-moz-box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
box-shadow: -6px 17px 9px -7px rgba(209,209,209,0.36);
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #000;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}

/*end*/
/*section1*/


/*section2*/

/*slider*/

.slider{
    background-color:#000;
    width:100%;
        margin-top: 145px;
}

.slider-caption h1{
  text-align:left;
  font-size:4rem;
  font-weight:600;
  vertical-align:middle;
}



.carousel-item img{
  width:100% !important;
  background-size:cover;
}


.carousel-caption {top: 42% !important;}
.black-overlay{position:absolute;top:0;left:0;height:100%;width:100%;background-color: #00000066;}

.button {
    display: inline-block;
    background:#000;
    color: #fff;
    float:left;
    margin-top: 15px;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 50px;
    cursor: pointer;
}



.carousel-control-prev-icon {opacity: 0.2;}
.carousel-control-next-icon {opacity: 0.2;}

/*animate-btn*/

.animated-btn {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    background: #ffffff5e;
    position: absolute;
    z-index: 99;
    top: 46%;
    left: 10%;
}

.animated-btn::before, .animated-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: #ffffff1f;
    animation: ripple-1 2s infinite ease-in-out;
    z-index: -1;
}

.animated-btn::after {
    background: #ffffff1f;
    animation: ripple-2 2s infinite ease-in-out;
    animation-delay: 0.5s;
}

@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

.animated-btn i{ position: absolute;top: 23px;right:0;left:0;bottom: 0;font-size:20px;}


.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 35px;
  right: 50px;
  font-size:50px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #ccc;
  text-decoration:none;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}


/*animate-btn end*/

/*section2end*/




/*section3*/
.section3{
  margin:50px auto;
}
.para-font{
  font-size:14px;
}
.section3-heading h1{font-weight:700;}
.section3-para p{font-weight:400;width: 580px;max-width:600px;}
.section3-years h1{
    font-weight: 700;
    position: relative;
    font-size: 30px;
    left: 45%;
    top: 50px;
}
.section3-years a .button{position:absolute;right:0;top:70%;padding: 7px 25px;border-radius: 50px;}
.section3-years a .button:hover {-webkit-transform: translate(0px, -10px) scale(1.1);transform: translate(0px, -10px) scale(1.1);
}

.section3-years h1:after{
    content: "15 ";
    position: absolute;
    font-weight: 600;
    font-size: 5rem;
    left: 25%;
    top: 25%;
    color: #DADE43;
}



.section3-heading h1{
  font-size:35px;
}

.bg-map img{
 width: 100%;
    position: absolute;
}

/*section3end*/


/*section4*/

.section4{margin-bottom:8%;background-image:url(../img/background2.png);background-position:center;}
.section4-heading h1{font-weight:700;}
.section4-para{font-weight:400;padding:25px 80px;}
.section4 .button{padding: 6px 25px;text-transform:inherit;border-radius:0;background-color:#004F81;}
.section4 .button:hover {
box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
-webkit-transform: translate(0px, -10px) scale(0.8);
transform: translate(0px, -10px) scale(0.8);
}

.ad-custom{
  background-color:#000;
  border:none;
}

.ad-custom:hover{
  background-color:#383838;
  border:none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}



.indicators-clr li{width: 40px;height: 5px;margin-right: 10px;background-color:#000;}
.box-height {height:510px;text-align: center;}
.box-height a{text-decoration:none;color:#000;padding-top:12px;}
.box-height a:hover{color:#ccc;}
.mrg-15{margin-bottom:30px !important;}



/*section4end*/


/*section5*/
.section5{background-color:#004F81;background-image:url(../img/count.jpg);background-repeat: no-repeat;background-position: center center;background-size: cover;    height: 25vh;}
.section5-heading h1{color:#fff;font-weight:600;}
.font-size-adjst{font-size:45px;}
/*saction5end*/


/*section6*/
.section6-para{padding-bottom:1rem !important;}
.counter {background-color: transparent;padding: 20px 20px;}
.count-title {font-size: 55px;font-weight: normal;margin-top: 10px;margin-bottom: 0;text-align: center;color: #fff;font-weight: 600;}
.count-text {font-size: 25px;font-weight: normal;margin-bottom: 0;position: relative;color: #fff;;font-weight: 500;text-align:center;}
.fa-2x {margin: 0 auto;float: none;display: table;color: #4ad1e5;}
.section6-heading h1{font-weight:700;}
.section6-para p{font-weight:400;width: 580px;max-width:600px;}

/*section6end*/




/*PRODUCTS*/
.product1{
  padding:100px 0px;
}
.product2{
padding:100px 0px;
}
.product3{
  padding:100px 0px;
}
.product_heading{
  font-weight:600 !important;
  font-size:50px;
}

.product_heading-2{
  font-size:35px;
  font-weight:600 !important;
    padding-top: 50px;
}

.margin-down img{
  margin-bottom:55px;
}

.table-head{
  font-size:18px;
  padding:15px 0px;
  font-weight:bold;
}

.table-ul li{
  font-size:13px;
}

.table-ul-adjst li{
 list-style:none;
 padding:5px 0;
}

.bold-spec{
  font-weight:700;
  margin-right:10px;
  color:#089fde;
}

.table-span{
  font-size:15px;
  font-weight:500;
}

.table-p{
  font-size:13px;
  padding: 12px 0;
}


.pad-25{
  padding-top:25px;
  bottom:5px;
}

.product_p {
    padding-top: 30px;
    font-size: 15px !important;
    padding-bottom: 15px !important;
    letter-spacing: normal;
    line-height: normal;
    font-weight: 400;
}

.color-green{
  color:#d6db29;
  font-weight:600;
}

/*footer*/

.bg-navy {background-color: #1A1A1A !important;}
.space-2, .space-top-2 {padding-top: 4rem !important;}
.opacity-xs {opacity: .2;}
hr {margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 0.0625rem solid #e7eaf3;}
.space-1, .space-top-1 {padding-top: 2rem !important;}
.space-1, .space-bottom-1 {padding-bottom: 2rem !important;}
.nav-x-0 .nav-link {padding-right: 0;padding-left: 0;}
.nav-white .nav-link {color: rgba(255, 255, 255, 0.7);}
.footer_ul{list-style:none;}
.footer_ul li{margin:15px auto;}
.footer_ul li a{text-decoration:none;color:#fff;}
.footer_ul li a:hover{color:#ccc;}
.footer_ul li a .align-loc{margin-left: 10px;font-size:13px;}

.btn-icon.btn-xs {
    font-size: 0.75rem;
    width: 1.75rem;
    height: 1.75rem;
}

.btn-icon {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0;
}


.btn-soft-light {
    color: #f7faff;
    background-color: rgba(247, 250, 255, 0.1);
    border-color: transparent;
}

.media-body {
    font-size:12px;
    padding-top: 2px;
}

.copyright-ys a{
  text-decoration:none;
  color:#ffcc00;
}
.copyright-ys a:hover{
  text-decoration:none;
  color:#ffcc008a;
}

.list-inline-item a:hover{color:#dade43;}


/*footer*/





/*About Page Start*/
.page-holder {
  min-height: 49vh;
}

.about-sec-1{

  background-position:center;
}

.align-abt-ban{
    padding-bottom: 6rem !important;
    padding-top: 12rem !important;
}

.about-heading h4{
  position:relative;
  font-weight:400;
}

.about-heading p{
  font-weight:400;
  font-size:15px;
  padding-top:20px;
}

.about-heading h4:after{
    content: "";
    position: absolute;
    width: 85px;
    height: 5px;
    background-color: #049cdd;
    top: 10px;
    left: 90px;
}

.about-heading h1{
  position:relative;
  font-weight:600;
}


/*About Page End*/

/*contact page*/
.pulled-up-section{
  background-image:url(../img/background2.png);
  background-repeat:no-repeat;
  background-position:center center;
}
.pulled-up-section {margin-top: -4rem;}
.h4{font-weight:600;padding-top: 15px;padding-bottom:8px;}
.text-muted a{text-decoration:none;color:#6c757d;}
.text-muted a:hover{text-decoration:none;color:#000;}
.text-primary {color: #0CDA90 !important;}
.icon-block {
    width: 50px;
    height: 50px;
    border-radius: .25rem;
    background: #d6db29;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ffffff;
    font-size: 0.9rem;
}
.icon-block i{font-size:18px;}
.with-pattern-full::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/pattern.f152d319.svg) repeat;
    background-size: 20rem;
    background-position: top left;
    opacity: 0.04;
}

.contact-form h2{font-weight:700;padding-top:25px;padding-bottom:8px;}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color:inherit; 
    outline: 0;
    box-shadow:inherit; 
}
.contact-map{position:relative;height:auto;overflow:hidden;width:100%;}


/*end-contact page*/



/*Career-page*/


.height-adjst{height:auto;}
.career-head{font-size:3rem;color:#000;}
.career-head2{font-size:4rem;color:#004f81;}
.txt-values {font-size: 20px;line-height: 1.5;font-weight: 600;padding-top: 15px;}
.career-sub-ul{list-style: decimal;padding-left: 15px;padding-top: 20px;}
.career-sub-ul li{list-style: decimal;padding-left: 15px;padding-top:5px;}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.position{background-image:url(../img/bgparallax-09.png);background-repeat:}
.career-form-experiance li{
  list-style:none;
  font-weight:600;
  float:left;
}

.space-exp{padding-left:15px;padding-right:25px;font-weight:400;}
.modal-dialog {
    max-width: 75%;
    margin: 6rem auto;
}
.modal-header h5{
    font-weight: 700;
    font-size: 25px;
    padding: 35px 0;
    width:100%;
    text-align:center;
    max-width:100%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
}

.body-popup{padding:5rem;}

.margin-3rem{margin-bottom:3rem;}
label{font-weight:600;margin-bottom:18px;}




/*career page end*/



/*service ppage 1*/

.product-heading h4{
  position:relative;
  font-weight:400;
  text-align:center;
}


.product-heading h1{
  position:relative;
  font-weight:600;
  text-align:center;
}
.product-heading p{
  text-align:center;
}



.upercase{text-transform:uppercase;}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}


/*service page End*/



/*section8*/

.section8{
  background-color:#00000003;
  padding:50px 0;
}

.section8-heading h1 {
    font-weight: 700;
    padding-bottom: 85px;
    position:relative;
}

.section8-heading h1:before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #D9DE3C;
    top: 55%;
    left: 46%;

.shadow-sm{
  -webkit-box-shadow: -7px 2px 19px -3px rgba(0,0,0,0.15) !important;
-moz-box-shadow: -7px 2px 19px -3px rgba(0,0,0,0.15) !important;
box-shadow: -7px 2px 19px -3px rgba(0,0,0,0.15) !important;
}


